.navbar-container {
    /* background: linear-gradient(90deg, rgb(153, 140, 228) 0%, rgba(73,63,252,1) 100%); */
    padding-left: 0px;
    margin-top: 30px;
    height: 35px;
    display: flex;
    box-shadow: 0 2px 4px 0 black;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    width: 100%;
    z-index: 10;
    background-color: black;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 50px;
    list-style: none;
    text-align: center;
    justify-content: normal;
}

.nav-links {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    /* background-color: #6d76f7; */
    border-radius: 4px;
    transition: all 0.1s ease-out;
    text-decoration: underline rgb(255, 232, 0) 3px;
    color: rgb(255, 232, 0);
}

.menu-icon {
    display: none;
}

